{#{% extends "base.html" %}#}
{##}
{#{% block title %} Login {% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    {% if user.is_anonymous %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        {% for error in form.errors %}#}
{#            <div>error</div>#}
{#        {% endfor %}#}
{#        <div>#}
{#            <input type="Submit" value="Login">#}
{#        </div>#}
{#    </form>#}
{#    {% else %}#}
{#    <h3>You're already logged in </h3>#}
{#    {% endif %}#}
{#{% endblock %}#}


{% extends "base.html" %}
{% load staticfiles %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static 'core/css/separate_forms.css' %}">

    <style type="text/css">
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}
{% block title %} Login {% endblock %}

{% block content %}

    {% if user.is_anonymous %}
        <form method="post" class="form-signin form-general">
            <h2 class="form-signin-heading">Please log in</h2>
            {% csrf_token %}
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label }}</p>
                <p>{{ field }}</p>
                <p>{{ field.errors }}</p>
            {% endfor %}
            {% for error in form.errors %}
                <div>error</div>
            {% endfor %}
            <button class="btn btn-large btn-primary" type="submit">Log in</button>
            <a href="{% url "core:registration" %}">Registration</a>
        </form>
    {% else %}
        <h3>You're already logged in </h3>
    {% endif %}
{% endblock %}

