{% extends "base.html" %}
{% load staticfiles %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static 'core/css/separate_forms.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/registration.css' %}">
{% endblock %}
{% block title %} Registration {% endblock %}

{% block content %}

    {% if user.is_anonymous %}
        <form method="post" class="form-general form-registration">
            <h2 class="form-registration-heading">Registration</h2>
            {% csrf_token %}
            {% for field in form %}
                {% if field.label == "Password" %}
                    {#                    <label for="password">Password</label>#}
                    {#                    <input type="password" class="form-control" id="password">#}
                    <p>{{ field.label }}</p>
                    <p>{{ field }}</p>
                    <p>{{ field.errors }}</p>
                    <div class="progress">
                        <div id="complexity-bar" class="progress-bar" role="progressbar">
                        </div>
                    </div>
                    <p>
                    <h1 id="complexity" class="pull-right">0%</h1>
                    </p>
                {% else %}
                    <p>{{ field.label }}</p>
                    <p>{{ field }}</p>
                    <p>{{ field.errors }}</p>
                {% endif %}
            {% endfor %}

            <button class="btn btn-large btn-primary" type="submit">Submit</button>
        </form>
    {% else %}
        <h3> You're already registrated and logged in </h3>
    {% endif %}

{% endblock %}

{% block additional_script %}
    <script src="{% static "core/js/jquery.complexify.js" %}"></script>
    <script src="{% static "core/js/jquery.complexify.banlist.js" %}"></script>
    <script src="{% static "core/js/registration.js" %}"></script>
{% endblock %}