{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock %}
{% block header %} {{ post.title }} {% endblock %}
{% block content %}

    <h2><a target="_blank" href={{ post.url }}>{{ post.title }}</a></h2>
    <p>{{ post.description }}</p>
    {{ post.created_at }} | by <a href="/users/{{ post.user.id }}/">{{ post.user }} </a> | rating:
    {{ post.score }} | <a href="{% url 'posts:detail' post.id %}">comments</a> |
    {% if user == post.user %} <a href="{% url 'posts:edit' post.id %}">Edit</a>  {% endif %}

    <h5>{{ post.comments_count }} comments:</h5>
    {% if post.post_comments.all %}

        {% for comment in post.post_comments.all %}
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong><a href="/users/{{ comment.user.id }}/">{{ comment.user }} </a></strong> <span class="text-muted">commented {{ comment.created_at }}</span>
                            {% if comment.user == user %}
                                <a href="{% url "comments:edit" pk=comment.id %}">Edit</a>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {{ comment.comment }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No comments are available.</p>
    {% endif %}

    {% if user.is_anonymous %}
        <h5>You must be logged in in order to add comments!</h5>
        <a href="{% url "core:login" %}?next={{ request.path }}">Log in</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.comment }}

                {% for error in form.comment.errors %}
                    <div><b>{{ error }}</b></div>
                {% endfor %}
            </div>
            <div>
                <input type="submit" value="Send comment">
            </div>
        </form>
    {% endif %}

{% endblock %}
