{% extends "base.html" %}
{% load staticfiles %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static 'core/css/separate_forms.css' %}"/>
{% endblock %}
{% block title %} Submit post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <form method="post" class="form-general">
    <h2 class="form-submit-heading">Submit a new post</h2>
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            <p>{{ field.errors }}</p>
        {% endfor %}
        {% for error in form.errors %}
            <div>error</div>
        {% endfor %}
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
    </form>
    {% else %}
    <h3> You must login before submitting </h3>
    <h3><a href="{% url "core:login" %}?next={{request.path}}">Log in</a><h3>
    {% endif %}

{% endblock %}